*{
    font-family: 'Poppins', sans-serif;
}

nav.navbar{
    background-color: #F3F1EE;
    border-bottom: #1D5258;
}
section.section1-container{
    max-height: 100vh;
    background-color: #F3F1EE;
} 
div.container1{
    max-height: 100vh;
}