*{
    font-family: 'Poppins', sans-serif;
}

nav.navbar{
    background-color: #F3F1EE;
    border-bottom: #1D5258;
}
section.section1-container{
    max-height: 100vh;
    background-color: #F3F1EE;
} 
div.container1{
    height: 100vh;
}
button.form_button{
    background-color: #1D5258;
}
h3.huser{
    color: #1D5258;
}

.cardh{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 18px;
}

h5.slotname{
    z-index: 1;
}
div.stacked{
    display: grid;
    place-items: center;
    isolation: isolate;
}
div.stacked > *{
    grid-column: 1/-1;
    grid-row: 1/-1;
}
div.stacked > .media{
    z-index: -1;
}

img.media{
    border-radius: 18px;

}