<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container navcon">
                <a class="navbar-brand logo" href="#">Delapp</a>
                <!-- <a href="{{ url_for('login') }}" class='btn btn-dark book-nav-button border-0 py-2 px-4'>Book your slot</a> -->
            </div>
        </nav>
    </header>
    <section class="d-flex align-items-center" style="height: 100vh;">
        <div class="container">
            <div class="row justify-content-center m-0">
                <div class="col-8">
                    <h1>get slot status</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Slot name</th>
                                <th scope="col">Start time</th>
                                <th scope="col">End time</th>
                                <th scope="col">Entries </th>
                            </tr>
                        </thead>
                        {% for user in slotDetails %}
                        <tr>
                            <td >
                                {{user[1]}}
                            </td>
                            <td>
                                {{user[2]}}
                            </td>
                            <td>
                                {{user[3]}}
                            </td>
                            <td>
                                {{user[4]}}
                            </td>
                        </tr>
                        <div>
                            <span class="me-4 p-4">{{user[1]}}</span> 
                            <span class="me-4 p-4">{{user[2]}}</span>
                            <span class="me-4 p-4">{{user[3]}}</span>
                            <span class="me-4 p-4">{{user[4]}}</span>
                        </div>
                        {% endfor %}
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>